name: CI
on:
    push:
        branches:
            - master
    pull_request:

jobs:
    main:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Install pnpm
              uses: pnpm/action-setup@v4
              with:
                version: 10

            # Setup Node.js and enable pnpm caching
            - uses: actions/setup-node@v4
              with:
                  node-version: 24
                  cache: 'pnpm'

            - name: Install dependencies
              run: pnpm install --frozen-lockfile

            - name: Derive appropriate SHAs for base and head for `nx affected` commands
              uses: nrwl/nx-set-shas@v4
              with:
                  main-branch-name: 'master'

            - name: Print Info
              run: |
                  echo "Nx BASE: ${{ env.NX_BASE }}"
                  echo "Nx HEAD: ${{ env.NX_HEAD }}"

            # This line is needed for nx affected to work when CI is running on a PR
            - run: git branch --track master origin/master
              if: ${{ github.ref != 'refs/heads/master' }}

            - name: Check formatting
              run: pnpm exec nx format:check

            - name: Lint, Test & Build affected projects
              run: pnpm exec nx affected -t lint,test,build --parallel=3
